<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.erp.dao.ApprMapper">

	<!-- 회사 id 로 회사 이름 찾기 -->
	<select id="getCompanyName" parameterType="int" resultType="string">
		select com_name
		from company
		where com_id=#{comId}
	</select>
	
	<!-- 결재 양식 sql 구문 -->
	
	<!-- 양식 생성, 리스트 검색시에 회사 이름 검색 -->
	<select id="searchCompany" resultType="CompanySearchDto" parameterType="string">
		select
		 com_id as comId,
		 com_name as companyName
		from company
		where com_name like concat('%', #{keyword}, '%')
		order by com_name asc
	</select>
	
	<!-- 결재 양식 테이블 forId로 모든 필드 조회 -->
	<select id="selectFormAll" parameterType="int" resultType="ApprFormDto">
		select * from appr_form where for_id = #{forId}
	</select>
	
	<!-- 결재 양식 등록 -->
	<insert id="insertForm" parameterType="ApprFormDto">
		insert into appr_form
		(com_id, for_code, for_title, for_content, for_status)
		values (#{comId},#{forCode},#{forTitle},#{forContent},#{forStatus})
	</insert>
	
	<!-- 결재 양식 수정 -->
	<update id="updateForm" parameterType="ApprFormDto">
		update appr_form
		set
			com_id = #{comId},
			for_code = #{forCode},
			for_title = #{forTitle},
			for_content = #{forContent},
			for_status = #{forStatus},
			for_updated = #{forUpdated}
		where for_id = #{forId}
	</update>
	
	<!--
		이부분 양식 한번 지정하면 회사는 안바꿀거면 아래코드 
		양식에서도 회사를 바꿔서 설정할거면 위코드 
		근데 아마도 바꾸는게 맞는거같음 ㅇㅇ 잘못 설정햇을수도잇지..
	<update id="updateForm" parameterType="ApprFormDto">
		update appr_form
		set
			for_code = #{forCode},
			for_title = #{forTitle},
			for_content = #{forContent},
			for_status = #{forStatue},
			for_updated = #{forUpdated}
		where com_id = #{comId} and for_id = #{forId}
	</update>
	-->
	
	<!-- 결재 양식 삭제 -->
	<delete id="deleteForm" parameterType="int">
		delete from appr_form where for_id = #{forId}
	</delete>
	
	<!-- 결재 양식 리스트 / 회사별 출력 -->
	<select id="selectFormList" parameterType="ApprFormSearchDto" resultType="ApprFormDto">
		select
			f.for_id as forId,
			f.com_id as comId,
			f.for_code as forCode,
			f.for_title as forTitle,
			f.for_content as forContent,
			f.for_status as forStatus,
			f.for_created as forCreated,
			f.for_updated as forUpdated,
			c.com_name as comName
		from
			appr_form f
		left outer join
			company c on f.com_id = c.com_id
		<where>
			<if test="comId != null">
				and f.com_id = #{comId}
			</if>
			<if test="forStatus != null">
				and f.for_status = #{forStatus}
			</if>
			<if test="keyword != null and keyword != ''">
				and (
					f.for_code like concat('%',#{keyword},'%')
					or f.for_title like concat('%', #{keyword},'%')
				)
			</if>
		</where>
		order by f.for_id desc
		limit #{page}, #{pageSize}
	</select>
	
	<!-- 오류날거 대비 코드 냄겨놓기
	<select id="selectFormList" parameterType="ApprFormSearchDto" resultType="ApprFormDto">
		select
			f.for_id as forId,
			f.com_id as comId,
			f.for_code as forCode,
			f.for_title as forTitle,
			f.for_content as forContent,
			f.for_status as forStatus,
			f.for_created as forCreated,
			f.for_updated as forUpdated,
			c.com_name as comName
		from
			appr_form f
		left outer join
			company c on f.com_id = c.com_id
		<where>
			<if test="comId != null">
				and f.com_id = #{comId}
			</if>
			<if test="forStatus != null">
				and f.for_status = #{forStatus}
			</if>
			<if test="keyword != null and keyword != ''">
				and (
					f.for_code like concat('%',#{keyword},'%')
					or f.for_title like concat('%', #{keyword},'%')
				)
			</if>
		</where>
		order by f.for_id desc
	</select>
	 -->
	
	<!-- 결재 양식 리스트 기능 구문 / 얘네 일단 보류 -->
	<select id="listFormCnt" resultType="int" parameterType="ApprFormSearchDto">
		select count(*)
		from appr_form
		<where>
			<if test="comId != null">
				and com_id = #{comId}
			</if>
			<if test="forStatus != null">
				and for_status = #{forStatus}
			</if>
			<if test="keyword != null and keyword != ''">
				and (
					for_code like concat('%',#{keyword},'%')
					or for_title like concat('%', #{keyword},'%')
				)
			</if>
		</where>
	</select>
	
	<!-- 결재 양식 sql 구문 -->
	
	
	
	
	<!-- 결재 문서 sql 구문 -->
	
	<!-- 결재 문서 테이블 모든 필드 조회 -->
	<select id="selectDocAll" resultType="ApprDocDto">
		select * from appr_doc
	</select>
	
	<!-- 결재 문서 검색어별 출력 1. 내가 작성한 문서들 -->
	<select id="selectDocList" parameterType="map" resultType="map">
		select
			d.doc_id,
			d.doc_title,
			d.doc_status,
			d.doc_created,
			d.doc_updated,
			d.com_id,
			d.emp_id,
			
			l.lin_id,
			l.emp_id as line_emp_id,
			l.lin_order,
			l.lin_status
		from
			appr_doc d
		left outer join
			appr_line l
			on d.doc_id = l.doc_id
			and l.lin_status = 'WAI'
		<where>
			and d.com_id = #{사용자회사id}
			and d.emp_id = #{사용자id(empId)}
			
			<if test="docStatus != null and keyword != ''">
				and d.doc_status = #{docStatus}
			</if>
			<if test="docTitle != null and keyword != ''">
				and d.doc_title like concat('%', #{keyword}, '%')
			</if>
		</where>
		order by d.doc_id desc
		limit #{pageSize} offset #{offset}
	</select>
	
	<resultMap id="ApprDocResultMap" type="ApprDocDto">
		<id property="docId" column="doc_id" />
		<result property="docTitle" column="doc_title"/>
		<result property="docStatus" column="doc_status"/>
		<result property="docCreated" column="doc_created"/>
		<result property="docUpdated" column="doc_updated"/>
		<result property="comId" column="com_id"/>
		<result property="empId" column="emp_id"/>
				
		<collection property="apprLines" ofType="ApprLineDto">
			<id property="lineId" column="line_id"/>
			<result property="docId" column="doc_id"/>
			<result property="empId" column="line_emp_id"/>
			<result property="linOrder" column="lin_order"/>
			<result property="linStatus" column="lin_status"/>
		</collection>
	</resultMap>
	<!-- 결재 문서 검색어별 출력 -->
	
	<!-- 결재 문서 페이징 기능 -->
	<select id="apprDocCnt" parameterType="map" resultType="int">
		select
			count(*)
		from
			appr_doc d
		<where>
			and d.com_id = #{사용자회사id}
			and d.emp_id = #{사용자id(empId)}
			
			<if test="docStatus != null and keyword != ''">
				and d.doc_status = #{docStatus}
			</if>
			<if test="docTitle != null and keyword != ''">
				and d.doc_title like concat('%', #{keyword}, '%')
			</if>
		</where>
	</select>
	<!-- 결재 문서 페이징 기능 -->
	
	<!-- 결재 문서 sql 구문 -->
	
	
	
	
	<!-- 결재선 sql 구문 -->
	
	<!-- 결재선 테이블 모든 필드 조회 -->
	<select id="selectLineAll" resultType="ApprLineDto">
		select * from appr_line		
	</select>
	
	<!-- 결재선 sql 구문 -->
	
</mapper>
