<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.erp.dao.ProjectMemberMapper">

<!-- 사원 이름,번호 조회 -->
<select id="searchEmpForProject" parameterType="map" resultType="EmpDto">
select e.emp_id, e.emp_no, e.emp_name
from employee e
where e.com_id = #{comId}
and (e.emp_name like concat('%', #{keyword}, '%')
or e.emp_no like concat('%', #{keyword}, '%'))
</select>

<!-- 프로젝트 참여 인원 조회 -->
<select id="select" parameterType="int" resultType="ProjectMemberDto">
 select  pm.pm_id,  p.pro_name, e.emp_name, pm.role,pm.joined_at
 from project_member pm
 join employee e on pm.emp_id=e.emp_id
 join project p on p.pro_id=pm.project_pro_id
 where p.pro_id = #{value};
</select>

<!-- 멤버 이름 등록 -->
<select id="selectOne" parameterType="int" resultType="ProjectMemberDto">
select pm.*, e.emp_name
from project_member pm
join employee e
on pm.emp_id = e.emp_id
where pm.pm_id = #{pmId}
</select>

<!-- 프로젝트 멤버 추가 -->
<insert id="insert" parameterType="ProjectMemberDto">
	insert into project_member(project_pro_id,emp_id,role,joined_at)
	values(#{projectProId},#{empId},#{role},now())
</insert>

<!-- 프로젝트 멤버 삭제 -->
<delete id="delete" parameterType="int">
	delete from project_member where pm_id=#{pmId}
</delete>


    <select id="selectByproject" parameterType="int" resultType="ProjectMemberDto">
	select pm.pm_id, e.emp_name
	from project_member pm
	join employee e on pm.emp_id = e.emp_id
	where pm.project_pro_id = #{ProId}
</select>
</mapper>