<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.erp.dao.ResourceMapper">

    <select id="selectResourceList" parameterType="map" resultType="com.sb.erp.dto.ResourceDto">
        SELECT
            res_id,
            com_id,
            res_code,
            res_name,
            res_type,
            quantity,
            remark,
            created_at,
            updated_at
        FROM resource
        WHERE com_id = #{comId}
        <if test="keyword != null and keyword != ''">
            AND (res_name LIKE CONCAT('%', #{keyword}, '%')
                 OR res_code LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="resType != null and resType != ''">
            AND res_type = #{resType}
        </if>
        ORDER BY res_id DESC
        LIMIT #{startRow}, #{pageSize}
    </select>

    <select id="selectResourceCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM resource
        WHERE com_id = #{comId}
        <if test="keyword != null and keyword != ''">
            AND (res_name LIKE CONCAT('%', #{keyword}, '%')
                 OR res_code LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="resType != null and resType != ''">
            AND res_type = #{resType}
        </if>
    </select>

    <select id="selectResourceDetail" parameterType="map" resultType="com.sb.erp.dto.ResourceDto">
        SELECT
            res_id,
            com_id,
            res_code,
            res_name,
            res_type,
            quantity,
            remark,
            created_at,
            updated_at
        FROM resource
        WHERE com_id = #{comId}
          AND res_id = #{resId}
    </select>

    <select id="countResourceCode" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM resource
        WHERE com_id = #{comId}
          AND res_code = #{resCode}
        <if test="excludeResId != null">
            AND res_id != #{excludeResId}
        </if>
    </select>

    <insert id="insertResource" parameterType="com.sb.erp.dto.ResourceDto">
        INSERT INTO resource (com_id, res_code, res_name, res_type, quantity, remark)
        VALUES (#{comId}, #{resCode}, #{resName}, #{resType}, #{quantity}, #{remark})
    </insert>

    <update id="updateResource" parameterType="com.sb.erp.dto.ResourceDto">
        UPDATE resource
        SET res_code = #{resCode},
            res_name = #{resName},
            res_type = #{resType},
            quantity = #{quantity},
            remark = #{remark},
            updated_at = NOW()
        WHERE com_id = #{comId}
          AND res_id = #{resId}
    </update>

    <delete id="deleteResource" parameterType="map">
        DELETE FROM resource
        WHERE com_id = #{comId}
          AND res_id = #{resId}
    </delete>

    <select id="countResourcesByType" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM resource
        WHERE com_id = #{comId}
        <if test="resType != null and resType != ''">
            AND res_type = #{resType}
        </if>
    </select>

</mapper>
