<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.erp.dao.ApprFormMapper">

	<!-- 회사 id 로 회사 이름 찾기 -->
	<select id="getCompanyName" parameterType="int" resultType="string">
		select com_name
		from company
		where com_id=#{comId}
	</select>
	
	<!-- 결재 양식 sql 구문 -->
	
	<!-- 양식 코드 중복 검사 -->
	<select id="findByCode" resultType="string" parameterType="ApprFormDto">
		select
			for_code
		from
			appr_form
		where
			for_code = #{forCode} and com_id = #{comId}
		<if test="forId != null and forId != '' and forId != 0">
			and for_id != #{forId}
		</if>
	</select>
	
	<!-- 양식 생성, 리스트 검색시에 회사 이름 검색 -->
	<select id="searchCompany" resultType="CompanySearchDto" parameterType="string">
		select
		 com_id as comId,
		 com_name as companyName
		from company
		where com_name like '%' || #{keyword} || '%'
		order by com_name asc
	</select>
	
	<!-- 결재 양식 테이블 forId로 모든 필드 조회 -->
	<select id="selectFormAll" parameterType="ApprFormDto" resultType="ApprFormDto">
		select * from appr_form where for_id = #{forId} and for_version = #{forVersion}
	</select>
	
	<!-- 결재 양식 등록 -->
	<insert id="insertForm" parameterType="ApprFormDto">
		insert into appr_form
		(
			com_id,
			for_code,
			for_title,
			for_content,
			for_status
		)
		values (
			#{comId},
			#{forCode},
			#{forTitle},
			#{forContent},
			#{forStatus}
		)
	</insert>
	
	<!-- 결재 양식 수정 / 양식이 수정되지 않았을때 ( 버전 x ) -->
	<update id="updateForm" parameterType="ApprFormDto">
		update appr_form
		set
			com_id = #{comId},
			for_code = #{forCode},
			for_title = #{forTitle},
			for_content = #{forContent},
			for_status = #{forStatus}
		where for_id = #{forId} and for_version = #{forVersion}
	</update>
	
	<!-- 결재 양식 수정 / 양식이 수정되었을때 ( 버전 o ) -->
	<insert id="updateFormNewVersion" parameterType="ApprFormDto">
		insert into appr_form
		(
			for_id,
			com_id,
			for_code,
			for_title,
			for_content, 
			for_status,
			created_at,
			for_version 
		)
		values (
			#{forId},
			#{comId},
			#{forCode},
			#{forTitle},
			#{forContent},
			#{forStatus},
			#{createdAt},
			#{forVersion}+1
		)
	</insert>
	
	<!-- 결재 양식 삭제 -->
	<delete id="deleteForm" parameterType="ApprFormDto">
		delete from appr_form where for_id = #{forId} and for_version = #{forVersion}
	</delete>
	
	<!-- 결재 양식 리스트 / 회사별 출력 -->
	<select id="selectFormList" parameterType="ApprFormSearchDto" resultType="ApprFormDto">
		select
			f.for_id,
			f.com_id,
			f.for_code,
			f.for_title,
			f.for_content,
			f.for_status,
			f.created_at,
			f.updated_at,
			f.for_version,
			c.com_name as comName
		from
			appr_form f
		left outer join
			company c on f.com_id = c.com_id
		<where>
			<if test="comId != null">
				and f.com_id = #{comId}
			</if>
			<if test="forStatus != null">
				and f.for_status = #{forStatus}
			</if>
			<if test="keyword != null and keyword != ''">
				and (
					f.for_code like '%' || #{keyword} || '%'
					or f.for_title like '%' ||  #{keyword} || '%'
				)
			</if>
		</where>
		order by f.for_id desc, f.for_version desc
		offset #{pstartno} rows fetch next #{onepagelist} rows only
	</select>
	
	<!-- 결재 양식 리스트 기능 구문 -->
	<select id="listFormCnt" resultType="int" parameterType="ApprFormSearchDto">
		select count(*)
		from appr_form
		<where>
			<if test="comId != null">
				and com_id = #{comId}
			</if>
			<if test="forStatus != null">
				and for_status = #{forStatus}
			</if>
			<if test="keyword != null and keyword != ''">
	            and (
	                for_code like '%' || #{keyword} || '%'
	                or for_title like '%' || #{keyword} || '%'
	            )
	        </if>
		</where>
	</select>
	
	<!-- 결재 양식 리스트 기능 구문 -->
	<select id="list10Form" resultType="ApprFormDto" parameterType="java.util.HashMap">
		select * 
		from appr_form
		<where>
			<if test="comId != null and comId != ''">
				and com_id = #{comId}
			</if>
			<if test="forStatus != null">
				and for_status = #{forStatus}
			</if>
			<if test="keyword != null and keyword != ''">
			and(
				for_code like '%' || #{keyword} || '%'
				or for_title like '%' ||  #{keyword} || '%'
			)
			</if>
		</where>
		order by for_id desc offset #{pstartno} rows fetch next 10 rows only
	</select>

</mapper>
