<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.erp.dao.ApprLineMapper">

	<!-- 결재선 저장 -->
	<insert id="insertLine" parameterType="ApprLineDto">
		insert into appr_line(
			doc_id,
			emp_id,
			lin_order,
			lin_status
		)
		values(
			#{docId},
			#{empId},
			#{linOrder},
			#{linStatus}
		)
	</insert>
	
	<!-- 해당 결재자의 상태 변경 -->
	<update id="updateLineStatus" parameterType="ApprLineDto">
		update
			appr_line
		set
			lin_status = #{linStatus},
			lin_approved = sysdate
		where
			doc_id = #{docId}
			and emp_id = #{empId}
	</update>
	
	<!-- 다음 결재 순서 있는지 조회 -->
	<select id="selectLineByOrder" resultType="ApprLineDto">
		select
			lin_id,
			doc_id,
			emp_id,
			lin_order,
			lin_status
		from
			appr_line
		where
			doc_id = #{docId}
			and lin_order = #{linOrder}
	</select>
	
	
	<!-- 라인 목록 조회 -->
	<select id="selectLinesByDocId" parameterType="int" resultType="ApprLineDto">
		select
			l.lin_id,
			l.doc_id,
			l.emp_id,
			l.lin_order,
			l.lin_status,
			to_char(l.lin_approved, 'YY-MM-DD HH24:MI') as lin_approved,
			e.emp_name,
			p.pos_name
		from
			appr_line l
		join
			employee e on e.emp_id = l.emp_id
		join
		 	emp_position p on p.pos_id = e.pos_id
		where
			l.doc_id = #{docId}
		order by
			l.lin_order
	</select>
	
</mapper>
