<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.erp.dao.CompanyMapper">
  <!-- 회사 여러개 조회 -->
  <select id="selectAll" resultType="CompanyDto" parameterType="ComSearchDto">
  select *
  from company c
  join (
    select c2.com_id, count(e2.emp_id) as emp_count
    from company c2
    left join employee e2 on c2.com_id = e2.com_id
    group by c2.com_id
   ) t
   on t.com_id = c.com_id 
  <where>
  <!-- 회사명 또는 사업자 번호 검색 -->
  <if test="keyword != null and keyword != ''">
	and (c.com_name like '%' || #{keyword} || '%'
	     or c.biz_no like '%' || #{keyword} || '%')  
  </if>
  <if test="industryGrpCode != null and industryGrpCode != ''">
  	and c.industry_grp_code = #{industryGrpCode}
  </if>
  </where>
  order by c.com_id desc
  OFFSET #{pstartno} ROWS FETCH NEXT #{onepagelist} ROWS ONLY
  </select>
  <!-- 회사 여러개 조회 -->
  <select id="listTotal" resultType="int" parameterType="ComSearchDto">
  select count(*) from company 
  <where>
  <!-- 회사명 또는 사업자 번호 검색 -->
  <if test="keyword != null and keyword != ''">
	and (com_name like '%' || #{keyword} || '%'
	     or biz_no like '%' || #{keyword} || '%')  
  </if>
  <if test="industryGrpCode != null and industryGrpCode != ''">
  	and industry_grp_code = #{industryGrpCode}
  </if>
  </where>
  </select>
  <select id="selectSuggest" resultType="CompanyDto" parameterType="string">
    select com_id, com_name, biz_no
    FROM company
    <where>
    <if test="keyword != null and keyword != ''">
	  and (com_name like '%' || #{keyword} || '%'
	    or biz_no like '%' || #{keyword} || '%')  
    </if>
    </where>
    ORDER BY com_name ASC
    OFFSET 0 ROWS FETCH NEXT 5 ROWS ONLY
  </select>
  <!-- 회사 등록 -->
  <insert id="insert" parameterType="CompanyDto">
  insert into company (com_name, industry_code, industry_grp_code, com_ceo, biz_no, com_tel, com_logo)
  values (#{comName}, #{industryCode}, #{industryGrpCode}, #{comCeo}, #{bizNo}, #{comTel}, #{comLogo})
  </insert>
  <select id="selectByBizNo" parameterType="string" resultType="CompanyDto">
  select * from company
  where biz_no = #{bizNo}
  </select>
  <!-- 하나만 조회 -->
  <select id="selectOneById" parameterType="int" resultType="CompanyDto">
  select * from company 
  where com_id = #{comId} 
  </select>
  <!-- 회사 정보 수정 -->
  <update id="update" parameterType="CompanyDto">
    update company
    set com_name = #{comName}
        ,com_ceo = #{comCeo}
        ,industry_grp_code = #{industryGrpCode}
        ,industry_code = #{industryCode}
        ,com_tel = #{comTel}
        <if test="comLogo != null">,com_logo   = #{comLogo}</if>
    where com_id = #{comId}
  </update>
  <!-- 회사 삭제 -->
  <delete id="delete" parameterType="int">
  delete from company
  where com_id = #{comId}
  </delete>
  <!-- 회사 통계 -->
  <select id="selectStats" resultType="StatsComDto">
	SELECT 
	    (SELECT COUNT(*) FROM company) AS com_total,
	    (SELECT COUNT(*) FROM employee) AS emp_total,
	    (SELECT COUNT(DISTINCT industry_code) FROM company) AS indust_total,
	    (SELECT com_name FROM company 
	      ORDER BY created_at DESC 
	      FETCH FIRST 1 ROWS ONLY) AS com_latest
	FROM dual
  </select>
  <!-- 회원 id를 통해 내 회사 정보 조회 -->
  <select id="selectOneByEmpId" resultType="CompanyDto" parameterType="int">
    select c.*
    from company c
    join employee e on e.com_id = c.com_id
    where e.emp_id = #{emdId}
  </select>
</mapper>