<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.erp.dao.DeptMapper">

	<!-- 해당 회사가 가지고 있는 부서 갯수 조회 -->
	<select id="countActiveDepts" resultType="int">
		select count(*) from
		department
		where com_id = #{comId}
		AND DEPT_STATUS != 'DELETED'
	</select>

	<!-- 부서 전체 조회 -->
	<select id="selectAll" resultType="DeptDto" parameterType="int">
		WITH dept_path (ancestor_id, descendant_id, root_id) AS (
		    SELECT 
		        dept_id, 
		        dept_id,
		        dept_id
		    FROM department
		    WHERE com_id = #{comId}
		    AND DEPT_STATUS != 'DELETED'
		    UNION ALL
		    SELECT 
		        dp.ancestor_id, 
		        d.dept_id,
		        dp.root_id
		    FROM dept_path dp
		    JOIN department d ON d.parent_id = dp.descendant_id
		    WHERE D.DEPT_STATUS != 'DELETED'
		),
		dept_order (dept_id, parent_id, sort_path) AS (
		    SELECT 
		        dept_id, 
		        parent_id,
		        CAST(LPAD(TO_CHAR(dept_id), 5, '0') AS VARCHAR2(255))
		    FROM department
		    WHERE parent_id IS NULL 
		    AND com_id = #{comId}
		    AND DEPT_STATUS != 'DELETED'
		    UNION ALL
		    SELECT 
		        d.dept_id,
		        d.parent_id,
		        o.sort_path || '-' || LPAD(TO_CHAR(d.dept_id), 5, '0')
		    FROM department d
		    JOIN dept_order o ON d.parent_id = o.dept_id
		    WHERE DEPT_STATUS != 'DELETED'
		)
		SELECT
		    d.dept_id, d.dept_name, d.dept_code,
		    d.depth, d.sort_order,
		    d.parent_id                    AS parent_id,
		    dp_parent.dept_name            AS parent_name,
		    d.emp_id                       AS leader_id,
		    leader.emp_name                AS leader_name,
		    COUNT(e.emp_id)                AS empCount
		FROM dept_path dp
		JOIN department d              ON d.dept_id = dp.ancestor_id
		JOIN dept_order o              ON o.dept_id = d.dept_id
		LEFT JOIN department dp_parent ON dp_parent.dept_id = d.parent_id
		LEFT JOIN employee leader      ON leader.emp_id = d.emp_id
		LEFT JOIN employee e           ON e.dept_id = dp.descendant_id
		WHERE D.DEPT_STATUS != 'DELETED'
		GROUP BY
		    d.dept_id, d.dept_name, d.dept_code, d.depth, d.sort_order, d.parent_id,
		    dp_parent.dept_name, d.emp_id, leader.emp_name, o.sort_path
		ORDER BY o.sort_path
	</select>

	<!-- id 값을 통해 부서 하나 조회 -->
	<select id="selectOneById" resultType="DeptDto">
		WITH dept_path (ancestor_id, descendant_id, root_id) AS (
		    SELECT 
		        dept_id, 
		        dept_id,
		        dept_id
		    FROM department
		    WHERE DEPT_STATUS != 'DELETED'
		    UNION ALL
		    SELECT 
		        dp.ancestor_id, 
		        d.dept_id,
		        dp.root_id
		    FROM dept_path dp
		    JOIN department d ON d.parent_id = dp.descendant_id
		    AND D.DEPT_STATUS != 'DELETED'
		),
		dept_order (dept_id, parent_id, sort_path) AS (
		    SELECT 
		        dept_id, 
		        parent_id,
		        CAST(LPAD(TO_CHAR(dept_id), 5, '0') AS VARCHAR2(255))
		    FROM department
		    WHERE parent_id IS NULL
		    AND DEPT_STATUS != 'DELETED'
		    UNION ALL
		    SELECT 
		        d.dept_id,
		        d.parent_id,
		        o.sort_path || '-' || LPAD(TO_CHAR(d.dept_id), 5, '0')
		    FROM department d
		    JOIN dept_order o ON d.parent_id = o.dept_id
		    AND D.DEPT_STATUS != 'DELETED'
		)
		SELECT
		    d.dept_id, d.dept_name, d.dept_code,
		    d.depth, d.sort_order, d.com_id,
		    d.parent_id                    AS parent_id,
		    dp_parent.dept_name            AS parent_name,
		    d.emp_id                       AS leader_id,
		    leader.emp_name                AS leader_name,
		    leader.emp_no                  AS leader_emp_no,
		    leader_p.pos_name              AS leader_pos_name,
		    COUNT(e.emp_id)                AS empCount
		FROM dept_path dp
		JOIN department d              ON d.dept_id = dp.ancestor_id
		JOIN dept_order o              ON o.dept_id = d.dept_id
		LEFT JOIN department dp_parent ON dp_parent.dept_id = d.parent_id
		LEFT JOIN employee leader      ON leader.emp_id = d.emp_id
		LEFT JOIN emp_position leader_p ON leader_p.pos_id = leader.pos_id
		LEFT JOIN employee e            ON e.dept_id = dp.descendant_id
		WHERE d.dept_id = #{deptId}
		AND D.DEPT_STATUS != 'DELETED'
		GROUP BY
		    d.dept_id, d.dept_name, d.dept_code, d.depth, d.sort_order, d.com_id, d.parent_id,
		    dp_parent.dept_name, d.emp_id, leader.emp_name, leader.emp_no, leader_p.pos_name, o.sort_path
		ORDER BY o.sort_path
	</select>

	<!-- 부서 순서 정렬 -->
	<select id="maxSortOrder" resultType="int">
		select
		coalesce(max(sort_order), 0)
		from department
		where com_id = #{comId}
		AND DEPT_STATUS != 'DELETED'
		and (parent_id = #{parentId} OR (parent_id IS NULL AND #{parentId} IS
		NULL))
	</select>

	<!-- 부서 등록 -->
	<insert id="insert" parameterType="DeptDto">
		insert into department (com_id, parent_id, dept_name, dept_code,
		depth, sort_order)
		values (#{comId},
		<choose>
			<when test="parentId == null or parentId == 0">NULL</when>
			<otherwise>#{parentId}</otherwise>
		</choose>
		, #{deptName}, #{deptCode}, #{depth}, #{sortOrder})
	</insert>

	<!-- 하위 부서 존재 확인 -->
	<select id="countChildren" resultType="int">
		select count(*) from
		department
		where parent_id = #{deptId}
		AND DEPT_STATUS != 'DELETED'
	</select>

	<!-- 부서 삭제 -->
	<delete id="delete">
		delete from department
		where dept_id = #{deptId}
	</delete>
	
	<!-- 부서 수정 -->
	<update id="update" parameterType="DeptDto">
		update department
		<set>
			<if test="deptName != null">dept_name = #{deptName},</if>
			<if test="deptCode != null">dept_code = #{deptCode},</if>
			<choose>
				<when test="parentId == null or parentId == 0">parent_id = NULL,</when>
				<otherwise>parent_id = #{parentId},</otherwise>
			</choose>
			<if test="depth != null">depth = #{depth},</if>
			<if test="empId != null">emp_Id = #{empId},</if>
		</set>
		where dept_id = #{deptId}
	</update>

	<!-- 하위부서 조회 -->
	<select id="selectAllChildIds" resultType="DeptDto" parameterType="int">
		with recursive childTree as (
		select dept_id
		from department
		where parent_id = #{deptId}
		AND DEPT_STATUS != 'DELETED'
		union all
		select d.dept_id
		from department d
		join childTree c
		on d.parent_id = c.dept_id
		AND D.DEPT_STATUS != 'DELETED'
		)
		SELECT dept_id FROM childTree
	</select>

	<!-- 부서 통계 데이터 조회 -->
	<select id="selectStats" resultType="StatsDeptDto">
		SELECT
        (SELECT COUNT(*) FROM department WHERE com_id = #{comId} AND DEPT_STATUS != 'DELETED') AS deptTotal,
        (SELECT COUNT(*) FROM department WHERE com_id = #{comId} AND depth = 1 AND DEPT_STATUS != 'DELETED') AS dept1Total,
        (SELECT COUNT(*) FROM department WHERE com_id = #{comId} AND depth in (2,3) AND DEPT_STATUS != 'DELETED') AS dept2Total,
        (SELECT COUNT(*) FROM employee WHERE com_id = #{comId} AND emp_status = '재직') AS empTotal
        from DUAL
	</select>
	
	<select id="countByDept" parameterType="int">
		SELECT COUNT(*) 
		FROM EMPLOYEE E
		JOIN DEPARTMENT D
		ON E.DEPT_ID = D.DEPT_ID
		WHERE E.DEPT_ID = #{deptId}
		AND D.DEPT_STATUS != 'DELETED'
	</select>
	
	<!-- 부서 임시 삭제 soft delete -->
	<update id="softDelete" parameterType="int">
		UPDATE DEPARTMENT
		SET DEPT_STATUS = 'PENDING_DELETE'
		WHERE DEPT_ID = #{deptId}
	</update>
	<!-- 이관 이력 화면의 원부서/대상부서 필터 select box용 — 부서 상태 무관 전체 -->
	<select id="selectAllDeptsByComId" resultType="DeptDto">
		SELECT *
		FROM department
		WHERE com_id = #{comId}
		ORDER BY dept_name
	</select>
	<!-- 부서 코드 중복 체크 -->
	<select id="selectDeptCode" resultType="DeptDto" parameterType="DeptSearchDto">
		SELECT *
		FROM DEPARTMENT
		WHERE COM_ID = #{comId}
		  AND DEPT_CODE = #{deptCode}
	</select>
</mapper>