<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.erp.dao.TaskMapper">

<!-- 태스크 추가 -->
<insert id="insert" parameterType="TaskDto">
	insert into task (pro_id , com_id , task_name , task_desc , task_status , pm_id , 
	task_start_date , task_end_date , created_at , updated_at)
	values(#{proId} , #{comId} , #{taskName} , #{taskDesc} , #{taskStatus} , #{pmId},
	 #{taskStartDate}, #{taskEndDate}, SYSDATE, SYSDATE)
</insert>

<!-- 태스크 수정 -->
<update id="update" parameterType="TaskDto">
	update task set
	task_name = #{taskName},
	task_desc = #{taskDesc},
	task_status = #{taskStatus},
	task_start_date = #{taskStartDate},
	task_end_date = #{taskEndDate},
	updated_at =SYSDATE
	where task_id = #{taskId}
</update>

<!-- 태스크 페이징 / 목록 -->
<select id="selectAll" parameterType="TaskSearchDto" resultType="TaskDto">
	select t.task_id, t.task_name, t.task_status, t.created_at
	from task t
	where t.pro_id = #{proId}
	order by t.task_id desc
	OFFSET #{pstartno} ROWS FETCH NEXT #{onepagelist} ROWS ONLY
</select>

<!-- 태스크 페이징 / 갯수 -->
<select id="selectCnt" parameterType="int" resultType="int">
	select count(*)
	from task t
	where t.pro_id = #{proId}
</select>

<!-- 태스크 상세 목록조회 -->
<select id="select" parameterType="int" resultType="TaskDto">
	select t.task_id, t.pro_id, t.task_name, t.task_desc, t.task_status,
	em.emp_name as pmName, t.task_start_date, t.task_end_date
	from task t
	join project p on t.pro_id = p.pro_id
	join company c on p.com_id = c.com_id
	join project_member pi on pi.pm_id = t.pm_id
	join employee em on pi.emp_id = em.emp_id
	where t.task_id = #{taskId}
</select>

<!-- 태스크 삭제 -->
<delete id="delete" parameterType="int">
delete from task where task_id =#{taskId}
</delete>
</mapper>