<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
	<typeAliases>
		<typeAlias type="com.sb.erp.dto.AuthDto" alias="AuthDto" />
		<typeAlias type="com.sb.erp.dto.AuthUserDto" alias="AuthUserDto" />

		<!-- KJY -->
		<typeAlias type="com.sb.erp.dto.ApprDocDto" alias="ApprDocDto" />
		<typeAlias type="com.sb.erp.dto.ApprFormDto" alias="ApprFormDto" />
		<typeAlias type="com.sb.erp.dto.ApprLineDto" alias="ApprLineDto" />
		<typeAlias type="com.sb.erp.dto.ApprFormSearchDto" alias="ApprFormSearchDto" />
		<typeAlias type="com.sb.erp.dto.CompanySearchDto" alias="CompanySearchDto"/>
		<!-- KJY -->

		<!-- cyj -->
		<typeAlias type="com.sb.erp.dto.CompanyDto" alias="CompanyDto" />		
		<typeAlias type="com.sb.erp.dto.DeptDto" alias="DeptDto" />
		<!-- cyj -->
		<!-- Son.C.K -->
		<typeAlias type="com.sb.erp.dto.NoticeDto"    alias="NoticeDto"/>
        <!-- Son.C.K -->
		<!-- jsj -->
		<typeAlias type="com.sb.erp.dto.EmpDto" alias="EmpDto" />
		<typeAlias type="com.sb.erp.dto.PosDto" alias="PosDto" />
		<typeAlias type="com.sb.erp.dto.EmpSearchDto" alias="EmpSearchDto" />
		<!-- jsj -->
    
	</typeAliases>
</configuration>