@charset "UTF-8";

.approval-document-wrap table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.approval-document-wrap th {
	background-color: #f8f9fa;
	color: #333;
	font-weight: 600;
	padding: 12px;
	border: 1px solid #dee2e6;
}

.approval-document-wrap td {
	padding: 12px;
	border: 1xp solid #dee2e6;
}