<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>대시보드</title>
</head>
<body>
<div layout:fragment="content">

		<!-- 403(접근 권한 X) 오류 이후 redirect시 메시지 표시 -->
		<div th:if="${accessDeniedMsg}" class="alert sb-alert--danger alert-dismissible fade show" role="alert">
			<span th:text="${accessDeniedMsg}">메시지</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		
		언젠가할 대쉬보드 페이지
</div>
</body>
</html>