<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<meta charset="UTF-8" />
<title layout:title-pattern="$CONTENT_TITLE - SBerp">SBerp</title>

<!-- header.html 의 headResources fragment 를 그대로 삽입 -->
<th:block th:replace="~{fragments/header :: headResources}"></th:block>
</head>
<body>
	<div class="sb-app" data-layout="standard">
		<!-- 기존 header.jsp 에서 <%@include file="/layout/sidebar.jsp"%> 하던 부분 -->
		<aside class="sb-sidebar" id="sbSidebar">
			<th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>
		</aside>
		<div class="sb-main">
			<!-- header.html 의 header fragment 삽입 -->
			<th:block th:replace="~{fragments/header :: header}"></th:block>

			<!-- 각 화면(company_list.html 등)의 실제 컨텐츠가 여기에 채워짐 -->
			<main class="sb-content" layout:fragment="content">
				<!-- 개별 페이지 콘텐츠 -->
			</main>
			<!-- footer.html 의 footer fragment 삽입 -->
			<th:block th:replace="~{fragments/footer :: footer}"></th:block>
		</div>

	</div>
</body>
</html>