<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head lang="ko">
	<meta charset="UTF-8">
    <title>메일 보내기</title>
</head>
<body>
    <form   method="post">
        <!-- CSRF Token -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        
        <table class="table table-striped">
            <caption>관리자에게 메일 보내기</caption>
            <tbody>
            <tr>
                <th scope="row"><label for="email">Email</label></th>
                <td><input type="email" name="email" id="email" class="form-control"></td>
            </tr>
            <tr>
                <th scope="row"><label for="subject">Title</label></th>
                <td><input type="text" name="subject" id="subject" size="40" class="form-control"></td>
            </tr>
            <tr>
                <th scope="row"><label for="content">Content</label></th>
                <td>
                    <!-- 에디터 타겟 textarea -->
                    <textarea name="content" rows="10" cols="40" class="form-control" id="content"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-end">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>